<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="ProGet-UKHO.Trusted" value="https://progetcloud.ukho.gov.uk/nuget/ukho.trusted/" />
    <add key="ProGet-Customer" value="https://progetcloud.ukho.gov.uk/nuget/customer/" />
    <add key="Proget-nuget.org" value="https://progetcloud.ukho.gov.uk/nuget/nuget.org/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>